<nav class='navbar is-dark' role='navigation'>
  <div class='navbar-start'>
    <h1 class='navbar-item title is-3'>Chatt App</h1>
  </div>
  <div class='navbar-end'>
    <div class='navbar-item buttons'>
      <% if current_user %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button is-danger is-outlined' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'button is-primary' %>
      <% end %>
    </div>
  </div>
</nav>
